<table>
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Email</td>
            <td>Contraseña</td>
            <td>Operaciones</td>
        </tr>
    </thead>
    <tbody>
    {% for contact in contacts %}
        <tr>
            <td>{{ contact.1 }}</td>
            <td>{{ contact.2 }}</td>
            <td>{{ contact.3 }}</td>
            <td>
                <a href="/edit/{{ contact.0 }}">Editar</a>
                <a href="/delete/{{ contact.0 }}">Eliminar</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>