<footer style="background-color: #000000" style = "float: left">

        <div class="container">

          <h3 style="color: #FFFFFF">Créditos</h2>
          <div >
            <a style="color: #FFFFFF">Desarrollado por: Luis Pinto C.I: 28589924 y Santiago Rodríguez C.I: 28083615</a>
          </div>
          <div>
              <a style="color: #FFFFFF">Sección: 03</a>
          </div>
          <h3 style="color: #FFFFFF">Agradecimientos</h2>
          <div>
              <a style="color: #FFFFFF"> Profesor: Víctor Esteller</a>
        </div>
    </footer>


